* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	font-family: "Lucida Console", "Courier New", monospace;

}
body {
	background-color: #fbf3f2;
}
header {
	width: 100%;
	height: 70px;
	display: flex;
	background-color: #2B7D93;
	box-shadow: 2px 2px 5px #696969;
}
.logo>img {
	height: 70px;
	margin: 0px auto 0px 20px;
}
.mediapng {
	width: 50px;
	height: 50px;
	background-color: #639E9C;
	margin: auto;
	border-radius: 50%;
}
.mediapng>img {
	width: 40px;
	height: 40px;
	margin: 5px;
}
.media {
	display: flex;
	width: 30%;
	margin-right: 0px;
	margin-left: auto;
}
.lang {
	width: 50px;
	height: 50px;
	margin: auto;
	margin-right: 10px;
	margin-left: 10px;
}
.lang>a {
	color: #fbf3f2;
	font-size: 25px;
	width: 50px;
}
.lang>a>p {
	margin: auto;
	margin-top: 11.6px;
	text-align: center;
}
nav>ul {
	display: flex;
	width: 100%;
	list-style-type: none;
	margin-top: 10px;
	margin-bottom: 10px;
}
nav>ul>a {
	margin: auto;
}
nav>ul>a>li {
	margin: auto;
	padding: 12px 25px 12px 25px;
	border-radius: 15px;
	background-color: #2B7D93;
	box-shadow: 1px 1px 5px #696969;
}
nav>ul>a>li {
	font-size: 15px;
	color: #fbf3f2;
}
#container {
	width: 90%;
	margin: 20px auto 20px auto;
	background-color: #F5F5F5;
	box-shadow: 3px 3px 10px #696969;
	border-radius: 25px;
	text-align: center;
	padding: 10px;
}
iframe {
	width: calc(100% - 20px);
	margin: 10px;
	height: 500px;
	box-shadow: 2px 2px 5px #696969;
	border-radius: 5px;
}

.contactUl {
	width: 300px;
	margin: 10px auto 10px auto;
	list-style-type: none;
}
.contactUl li {
	margin: 5px 0 0 5px;
	padding: 5px;
	background-color: #F5F5F5;
	border-radius: 15px;
	box-shadow: 2px 2px 5px #696969;
	display: flex;
	align-items: center;
}
.contactUl a {
	text-decoration: none;
	color: black;
}
.contactUl img {
	width: 20px;
	height: 20px;
	margin auto;
	border-radius: 50%;
	margin-right: 20px;
}
#questCont {
	text-align: center; 
}
.questDiv {
	width: 500px;
	height: 500px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #F5F5F5;
    box-shadow: 1px 1px 5px #696969;
    margin: 10px;
    padding: 10px;
    position: relative;
}
.questDiv img {
	width: auto;
    height: 300px;
    display: block;
    margin: 0 auto;
}
.questDiv p {
	width: 480px;
	position: absolute;
	bottom: 10px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Создает 3 столбца в сетке */
    grid-gap: 10px; /* Расстояние между ячейками в сетке */
    padding: 20px;
}

.grid-item {
	border-radius: 5px;
    text-align: center;
    padding: 5px;
    background-color: #F5F5F5;
    box-shadow: 1px 1px 5px #696969;
}

.grid-item img {
    width: 100%; /* Изображение будет занимать 100% ширины ячейки */
    height: auto; /* Высота будет рассчитываться автоматически для сохранения пропорций */
}
.grid-item:hover {
	transform: scale(1.25);
	transition: 1.5s;
}
@media (max-width: 768px) {
	.logo>img {
	height: 50px;
	margin: 10px auto 10px 20px;
	}
	.media {
		width: 50%;
	}
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* Изменяем на 2 столбца на маленьких экранах */
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr; /* Изменяем на 1 столбец на очень маленьких экранах */
    }
}
div#p_about_cont {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
p.about {
	width: 300px;
	background-color: #F5F5F5;
	box-shadow: 3px 3px 10px #696969;
	border-radius: 10px;
	text-indent: 20px;
	font-size: 1.1em;
	margin: 20px 30px 20px 30px;
	padding: 10px;
}
p.about > span {
	color: #2B7D93;
}
#flexA {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
#flexA > div.about {
	margin: 10px auto 10px auto;
	width: 256px;
	height: 296px;
	background-color: #F5F5F5;
	box-shadow: 3px 3px 10px #696969;
	display: flex;
	border-radius: 10px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}	
#flexA > div.about > img {
	width: 250px;
	height: 250px;
	text-indent: 0px;
}